/*CSCE Xin Lin  */
/* Structure */
:root {
    --background-color: #ede683;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
    height: 80vh;
}

header {
    text-align: center;
}

li {
    list-style: none;
}

#content {
    border-style: solid;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
}

.chemicals {
    border-style: solid;
    flex:22%;
    text-align: center;
    margin: 15px;
    min-width: min-content;
    padding-top: 15px;
}

.images {
    margin: auto;
    display: inline-block;
    width: 250px;
    height: 200px;
}

/*Typography*/

a:visited, a:hover {
    color:black;
}

/*Larger Resolution*/

@media only screen and (min-width: 600px) {

}