body
{
    background: maroon;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
h1 
{
    color:goldenrod;
    text-align: center;
}
.assignment
{
display: flex;
padding: 10px;
margin: 10px;
background: purple;
}
.assignment img 
{
width: 200px;
padding: 10px;
}

a{
    text-decoration: none;
    color:#32ED3A;
}

.assignment img{
    padding: 10px;
    border: 2px dashed #408AF0;
}