/*Generic*/
:root{
    --nav-color:#efd8b7;
    --nav-bar:#57300F;
    --support-color: rgb(255, 240, 222);
    --chocolate:#443325 ;
}

body {
    width: 85%;
    margin: 10px auto;
    min-height: fit-content;
    color:var(--chocolate);
    background-color: var(--nav-color);
}

ul {
    padding:0;
}

#logo {
    height: fit-content;
}

#logopic {
    margin: auto;
    display: block;
}

#hamburger {
    height: fit-content;
    background-color: var(--chocolate);
    padding:1px;
    width: 25%;
    margin: auto;
    margin-bottom: 5px;
}

.bar {
    height: 3px;
    margin: 10px;
    background-color: var(--nav-color);
}

.hidden {
    display: none;
}

#nav-bar ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

#nav-bar, #logo {
    width: 98%;
    margin: auto;
    background-color: var(--nav-color);
}

.nav-item {
    height: 30px;
    display: flex;
    align-items: center;
    background-color: var(--nav-bar);
    color: var(--nav-color)
}

.nav-item p {
    margin: auto;
}

#form {
    height: fit-content;
}

#form h1 {
    text-align: center;
}

#pic {
    background-color: var(--chocolate);
    color: var(--support-color);
    width: 100%;
}

#img {
    min-height: 200px;
    height: fit-content;
    border: solid;
    width: fit-content;
    margin:auto;
    background-color: var(--chocolate);
}

#img img {
    max-width: 100%;
}

#img h2 {
    margin: 50px;
    text-align: center;
}

#more {
    width: 90%;
    margin: 5px auto;
    height: fit-content;
    min-height: 32vh;
    background-color: #443325;
    color: var(--support-color) ;
    padding-bottom: 5px;

}

#more section {
    flex:1;
    padding:5px;
    margin: auto;
}

#more label {
    font-size: large;
    font-weight: bold;
    display: block;
    margin: auto;
}

#description, #tags {
    height: 35%;
    width: 80%;
    background-color: var(--support-color);
    border-style: groove;
}

#caption {
    height: 80px;
    width: 80%;
    background-color: var(--support-color);
}

#description, #tags {
    min-height: 50px;
    height: 30%;
}

#more p {
    text-align: center;
}

#list {
    width:90%;
    margin: auto;
    border-style: solid;
    height: fit-content;
    background-color: var(--chocolate);
}

.post {
    margin: 5px;
    border-style:dotted;
    color:var(--support-color);
    flex:40%;
}


a, a:visited {
    text-decoration: none;
    color:black;
}

#poster {
    width:90%;
    height: 40px;
    display: block;
    margin: 5px auto;
    background-color: var(--nav-bar);
    color: var(--nav-color);
}

/*Larger Resolution*/
@media only screen and (min-width: 800px) {
    body {
        display: flex;
        margin: auto;
        width: 100%;
        background-color: var(--nav-color);
    }

    header {
        flex:1;
        height: 100%;
        position: sticky;
        top:0px;
    }

    ul{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    #nav-bar {
        width: 100%;
        height: 100%;
        justify-content: space-between;
    }

    #nav-bar ol {
        display: flex;
        flex-direction: column;
        height: 85%;
    }

    #logo {
        margin: auto;
        width: 90%;
    }

    .nav-item {
        width:90%;
        margin: 45px auto;
        flex:1;
    }

    #content {
        flex: 5;
    }

    #img {
        max-width: 80%;
    }

    #img img{
        max-width: 100%;
    }
    
    #more {
        display: flex;
    }

    #more p{
        flex: 1;
    }
    #hamburger {
        display: none;
    }

    #caption {
        height: 80%;
    }
  
}