html{
    margin:0px;
    padding: 0px;
}
body
{
    font-family:'Times New Roman', Times, serif;
    background: #739072;
    margin:0%;
    padding:0%;
    height:100%;
}
/*Structure*/
#main-head
{
    background-color: #4F6F52;
    width: 100%;
    display: flex;
    
}

/* Typography */

#main-head h1 
{
    color:#FBF9F1;
    font-size: 3em;
    display: inline-block;
    text-align: center;
    flex:1;
    
}

#main-head ul{
    display:flex;
    flex:5;
    text-align:center;
    margin: auto;
    padding:0%;
    list-style: none;
   
}

#main-head a{
    text-decoration: none;
    color:#FBF9F1;
}
#main-head li{
    
    color:#FBF9F1;
    display: inline-block;
    text-align: center;
    flex:1;
}

#und{
    text-decoration: underline;
}
#description{
    color: #FBF9F1;
}
#description p{
    margin: 0;
}
#news{
    background: #FBF9F1;
    color:#4F6F52;
}
#news h2{
    font-style: italic;
    text-align: center;
    display: block;
}
#news p{
    margin-bottom: 0;
    display:inline;
}
#news img{
    float:left;
    
}

@media(min-width:900px){
    #news img{
        float: none;
        display: block;
        width:100%;
        height:30%;
    }
    main{
        display: flex;
    }
    #description{
        flex: 1.5;
        text-align: center;
    }
    #description p{
        padding-left: 15%;
        padding-right: 15%;
    }
    #news{
        flex:1;
        
    }

}