/*Structure*/
body
{
    margin:0;
}

ul
{
    list-style: none;
    margin:0;
}

main{
    margin: 25px;
}

a{
    text-decoration: none;
    color:black;
}
#main-head
{
    background-color: black;
    margin:0%;
}

#sub-head
{
    background-color:darkred;
    margin:0%;

}

#top
{
    color:white;
    font-size:small;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
}

#top ul{
    display: inline;
}

#top li
{
    display: inline;
    margin-left: 3;
    
}

#bot{
    position: relative;
    
}

#bar
{
    border-style: solid;
    border-width: 1px;
    color:darkgray;
    display:inline-block;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20;
    font-weight: bolder;
    padding: 6px;
    padding-right: 10%;
    border-width: 2px;
    position:absolute;
    right: 2%;
    top:25%;
    
}

#banner h2
{
    margin:0;
    padding: 5px;
    color:white;
}

/*Navigation*/

#nav_small ul
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size:x-large;
    display:flex;
    padding:0;
}

#nav_small div
{
   flex:1;
   margin:0;
}

#nav_small li
{
    border: 1px solid gray; 
    padding: 2px;
    margin: 2px;
}

#main-content img
{
    width:100%;
    height:auto;
}

#main-content h3 ,h4, h5
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:maroon;
   
}

#main-content p, #highlights p
{
    font-family: Arial, Helvetica, sans-serif;
}

/*Other*/
.block
{
    display:flex;
    margin: 5px;
    border: 1px solid black;
}

.block img
{
    flex:1
}

.col
{
    flex:4;
}

#extra div
{
    border:1px solid gray;
    border-left: 4px solid maroon;
}

/*Big Screen*/
@media(min-width:900px)
{
    #center, #banner
    {
        width:80%;
        margin:auto;
    }

    #main
    {
        display:flex;
        width:70%;
        margin: auto;
    }

    #highlights
    {
        display:flex;
    }

    #nav
    {
        flex:1;
    }

    #nav_small ul{
        display:block;
        font-size: medium;
    }
    #main-section
    {
        flex:3;
    }


}

