html{
    margin:0px;
    padding: 0px;
}
body
{
    font-family:'Times New Roman', Times, serif;
    background: #FBF9F1;
    margin:0%;
    padding:0%;
    height:100%;
    color:#4F6F52;
}
/*Structure*/
#main-head, footer
{
    background-color: #547c57;
    width: 100%;
    display: flex;
}


#left{
    float:left;
    margin: 5px;
}

#right{
    float:right;
    margin:5px;
}


h2{

    margin-left: 3%;
}



/* Typography */

#main-head h1
{
   
    font-size: 3em;
    display: inline-block;
    text-align: center;
    flex:1;
    
}

#main-head ul{
    display:flex;
    flex:5;
    text-align:center;
    margin: auto;
    padding:0%;
    list-style: none;
   
}

#main-head a, h1{
    text-decoration: none;
    color:#FBF9F1;
}
#main-head li{
    
    color:#FBF9F1;
    display: inline-block;
    text-align: center;
    flex:1;
}

#und{
    text-decoration: underline;
}
/*Footer-*/
footer{
    
    margin: auto;
    padding:0%;
    list-style: none;
    background-color:#547c57;
    
}

footer ul{
    padding:3%;
    display: flex;
    text-decoration: none;  
    width: 100%;
}

footer li{
    flex: 1;
    display: inline-block;
    text-align: center;
}
footer a{
    color:#FBF9F1;
}

@media(min-width:900px){
    div{
        display: flex;
    }

    p{
        margin-top: 0;
        flex:4;
    }
    .pix{
        flex:1;

    }
    
    main{
        width: 80%;
        margin: auto;
    }
}

